/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ion-color-primary: #D71921;
	--ion-color-primary-rgb: 215,25,33;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #bd161d;
	--ion-color-primary-tint: #db3037;

	--ion-color-secondary: #EDBE4C;
	--ion-color-secondary-rgb: 237,190,76;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #d1a743;
	--ion-color-secondary-tint: #efc55e;

	--ion-color-tertiary: #E9ECEF;
	--ion-color-tertiary-rgb: 233,236,239;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #cdd0d2;
	--ion-color-tertiary-tint: #ebeef1;

	--ion-color-success: #c5000f;
	--ion-color-success-rgb: 197,0,15;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #ad000d;
	--ion-color-success-tint: #cb1a27;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #F8F9FA;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #6C757D;
	--ion-color-medium-rgb: 108,117,125;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #5f676e;
	--ion-color-medium-tint: #7b838a;

	--ion-color-dark: #000000;
	--ion-color-dark-rgb: 0,0,0;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #000000;
	--ion-color-dark-tint: #1a1a1a;

}

* {
    font-family: "Nunito", sans-serif;
}

ion-searchbar.custom {
    --background: var(--ion-color-light);
    --color: #575757;
    --placeholder-color: #3d3d3d;
    --icon-color:  var(--ion-color-primary);
    --clear-button-color: #fff;
    --border-radius: 8px;
    --box-shadow: none !important;
  }

ion-header {
    --box-shadow: none !important;
}